<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="/img/weather.png">


    <title>home</title>
</head>

<body>
    {{!-- #6 --}}
    {{!-- به روش فلکس کل محتوا به جز فوتر رو توی یک دیو اصلی میزاریم --}}
    <div class="main-content">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, delectus cupiditate doloribus maiores sit
            officia omnis dolor. Dolore ipsam, reiciendis inventore nihil repudiandae, architecto totam ratione modi,
            nam repellat blanditiis!</p>
        <form action="">
            <input placeholder="city name" type="text">
            <button>search</button>
        </form>
        <p id="result1"></p>
        <p id="result2"></p>
        <p id="result3"></p>
        <p id="result4"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>