body {
  background-color: rgb(11, 6, 56);
  color: rgb(222, 223, 224);
  font-family: Arial, Helvetica, sans-serif;
  /* 8   */
  /* حد اکثر عرض بلاک رو مشخص میکنه مثلا یک پاراگراف طولانی رو تا آخر صفحه نمیکشه تا و به اندازه 650 پسکسل
  کش کیده بعدش میره خط بعد  */
  max-width: 650px;
  /* 8 */
  /* مارجین فاصله بلاک با بلاک اطرافش هست و دوتا عدد داره عدد اول فاصله بالا و پایین رو مشخص میکنن
  عدد دوم فاصله چپ و راست  */
  margin: 0 auto;
  /* 9 */
  /* فاصله بین بلاک و دیواره مرورگر هست */
  padding: 0 20px;
  /* 13 */
  /* فلکس باکس رو فعال میکنیم */
  display: flex;
  /* 14 */
  /* باعث میشه محتوا به صورتی ستونی و عمودی دربیان اگه اینو تنظیم نکنی محتوا
  بهصورت پیشفرض از چپ به راست نشون داده میشن */
  flex-direction: column;
  /* 15*/
  /* این میگه اندازه فلکس باکسمون صد درصد اندازه ویو پورت مرورگر بازدید کننده باشه */
  min-height: 100vh;
}
.main-content {
  /* 16 */
  flex-grow: 1;
}
footer {
  color: rgb(222, 223, 224);
  border-top: 1px solid wheat;
  margin-top: 10%;
  padding: 10px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}
h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
/* 10 */
/* وقتی یک المنت خاص مربوط و زیرمجموعه ی المنت یا بخش دیگه باشه اینجوری فقط 
اون رو انتخاب میکنیم */
header a {
  color: rgb(222, 223, 224);
  /* 11 */
  /* این خط زیر لینک رو میبره یا میتونی بیاریش */
  text-decoration: none;
  margin-right: 10px;
}
/* 12 */
/* هاور وقتی رو ی چیزی مثل لینک یا متن میری */
header a:hover {
  color: rgb(98, 112, 126);
}

.mypic {
  width: 450px;
}
